body {
  /*remove all the initial default browser styling settings i.e. margin, padding etc.*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(rgb(238, 229, 229), rgb(203, 224, 231));
}

.navBar {
  /*Use flexbox to position the link elements in the navBar*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(#fff, rgb(133, 241, 236));
  border-bottom: 1px solid lightblue;
  z-index: 3;
}

.navLinks {
  /*Use flexbox to align the navLinks*/
  display: flex;
  justify-content: center;
  list-style-type: none;
}

a {
  /*style the links on the page*/
  text-decoration: none;
  margin: 0 30px;
  color: darkslategray;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
  /* changes the color and text-shadow of the link when a user hovers over it */
  color: gold;
  text-shadow: 1px 1px 2px black;
}

.confirmation-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: 5;
}

.hide {
  display: none;
}

.c-title {
  color: green;
}

.c-msg {
  font-size: 1.1rem;
  font-weight: 600;
}

.confirmation-msg {
  /* Hide the confirmation message offscreen by positioning it above the viewport */
  position: fixed;
  top: -120%; /*positions the message above the viewport*/
  max-width: 100%;
  height: auto;
  margin: 10px;
  background-color: lightgoldenrodyellow;
  z-index: 6;
  border-radius: 5px;
  padding: 0 15px 15px 15px;
  transition: 0.88s;
}

.showModal {
  top: 0.1%;
}

.order-container {
  height: 40vh;
  overflow: auto;
}

.confirm-total-title {
  color: darkblue;
  font-size: 1.6rem;
  font-weight: 700;
}

.confirm-total-box {
  font-size: 1.58rem;
  font-weight: 700;
}

.confirm-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.confirm-quantity {
  font-size: 1.4rem;
  font-weight: 800;
  margin-left: 8px;
}

hr {
  width: 50%;
}

.confirm-total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  margin: 15px 0;
}

.order-btn-container {
  width: 60%;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
}

/* declare one styling declaration for both the ok-btn and the cancel-btn and just change the background-colors */
.ok-btn,
.cancel-btn {
  color: white;
  font-size: 0.99rem;
  font-weight: 600;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.6s;
}

.ok-btn {
  background-color: green;
}

.ok-btn:hover,
.cancel-btn:hover {
  background-color: lightgray;
  box-shadow: 1px 1px 2px #000;
  color: #000;
}

.cancel-btn {
  background-color: crimson;
}

.open-cart {
  cursor: pointer;
}

.cartCount {
  position: relative;
}

.count {
  position: absolute;
  bottom: 20%;
  right: -2%;
  background-color: orangered;
  color: white;
  width: 34px;
  text-align: center;
  border-radius: 50%;
  padding: 6px 0;
}

.cart-container {
  position: fixed;
  text-align: center;
  top: 0;
  right: -100%;
  width: 300px;
  min-height: 100vh;
  background-color: rgb(125, 226, 213);
  z-index: 5;
  transition: 0.6s;
}

.bx-x-circle {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.9rem;
  font-weight: 700;
  cursor: pointer;
}

.show {
  right: 0;
}

/* set mobile menu to not display when the screen is greater than a mobile screen width */
.mobile {
  display: none;
}

.logo-box {
  display: flex;
  align-items: center;
  height: 100px;
}

.logo-box > .logo-pic {
  margin-left: -16%;
}

.logo-pic {
  transform: scale(0.35);
}

.product-container {
  max-width: 1000px;
  margin: 9rem auto;
}

.catalogueList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}

.catalogueItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 245px;
  background-color: rgb(158, 193, 241);
  border-radius: 10px;
  padding: 7px;
  box-shadow: 2px 2px 6px black;
  transition: 0.5s;
}

.catalogueItem:hover {
  background-color: rgb(123, 247, 143);
  transform: scale(1.03);
}

.catalogueDetails {
  height: 100px;
  text-align: center;
}

.gym-img {
  width: 240px;
  height: 200px;
  border-radius: 3px;
}

.p-name {
  font-size: 1.14rem;
  font-weight: 700;
}

.p-price {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bxs-cart-add {
  font-size: 2rem;
  cursor: pointer;
  color: green;
}

.hamburger-menu {
  display: none;
  padding-right: 16px;
}

.ham-links {
  position: absolute;
  top: -100%;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  transition: opacity 1.1s;
}

.active {
  top: -15px;
  opacity: 1;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(137, 211, 238);
  padding-left: 0;
}

.bx-x {
  position: absolute;
  top: 5%;
  right: 1.5%;
  transform: scale(2.4);
  color: white;
  cursor: pointer;
}

.bx-menu {
  transform: scale(2.2);
  cursor: pointer;
  color: red;
  text-shadow: 0.5px 0.5px 0.5px black;
}

@media (max-width: 800px) {
  .mobile {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }

  .navLinks.desk-links {
    display: none;
  }

  .logo-pic {
    transform: scale(0.3);
  }

  .logo-box > .logo-pic {
    margin-left: -22%;
  }

  .logo-box {
    padding-top: -10px;
  }

  .desktop {
    display: none;
  }
}

.add-box {
  display: flex;
  justify-content: center;
}

.add-msg {
  position: fixed;
  bottom: -10vh;
  background-color: crimson;
  margin: 0 auto;
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
  width: fit-content;
  padding: 10px 26px;
  border-radius: 10px;
  transition: bottom 0.3s;
}

.add-msg.reveal {
  bottom: 15vh;
}

.thank-box,
.cancel-box {
  display: flex;
  justify-content: center;
  position: fixed;
  top: -20vh;
  width: 100%;
  transition: top 0.5s;
  z-index: 10;
}

.confirm-modal {
  width: fit-content;
  padding: 18px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: lightgray;
  border: 1px solid darkblue;
}

.confirmShow {
  top: 35vh;
}
