img {
  /* img elements are inline elements by default */
  /* by using the declaration display: block it makes the image a block element so it can be centered using the margin: auto style declaration */
  display: block;
  margin: auto;
}

p {
  /*align the paragraph element*/
  text-align: center;
  color: maroon;
  font-weight: bold;
  font-size: 1.9rem;
}

button {
  /*position the button by using the margin-left property setting*/
  margin-left: 750px;
}
